{%extends 'base.html'%}
{% load static %}

{% block title %} Neck Pain | {% endblock %}
{% block bodycontent %}
<section class="py-3 bg-info">
    <div class="container">
        <nav class="pt-lg-4 pb-3 mb-2 mb-sm-3" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/" style="text-decoration:none"><i class="bx bx-home-alt fs-lg me-1"></i>Physio Pulze
                        Physiotherapy</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/treatments-offered" style="text-decoration:none"><i
                            class="bx bx-home-alt fs-lg me-1"></i>Treatmentsoffered</a>
                </li>
                <li class="breadcrumb-item fw-bold active" aria-current="page">Neck Pain</li>
            </ol>
        </nav>
        <h1 class="fw-bold">Neck Pain</h1>
        <div class="row g-2">
            <div class="col-xl-5">
                <img src="{% static "imagesservices/neckpain.jpg" %}" class="rounded" alt="Neck Pain">
            </div>
            <!-- End Col -->
            <div class="col-xl-4">
                <p>Human head is balanced on a support made up of seven bones which are separated 
                   from each other by discs, stabilised by joints and ligaments and moved by muscles. 
                   This structure allows neck to mobile.
                   Long periods of sitting at work is a common cause of neck pain.
                   <br><br>It is important with any neck pain, treatment should be started as 
                   soon as symptoms present. We choose each treatment to the individual’s symptoms and diagnosis 
                   and depending on the nature of the neck pain, treatment options might include:
                   manual therapy, mckenzie exercises, gentle joint mobilisations, heat and dry needling.
                </p>
            </div>
            {% block sidebar %}
            {% include "sidebar.html" %}
            {% endblock sidebar %}
        </div>
    </div>
</section>
{% endblock %}
