{%extends 'base.html'%}
{% load static %}

{% block title %} Neuro Rehabilitation | {% endblock %}
{% block bodycontent %}
<section class="py-3 bg-info">
    <div class="container">
        <nav class="pt-lg-4 pb-3 mb-2 mb-sm-3" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/" style="text-decoration:none"><i class="bx bx-home-alt fs-lg me-1"></i>Physio Pulze
                        Physiotherapy</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/treatments-offered" style="text-decoration:none"><i
                            class="bx bx-home-alt fs-lg me-1"></i>Treatmentsoffered</a>
                </li>
                <li class="breadcrumb-item fw-bold active" aria-current="page">Neuro Rehabilitation</li>
            </ol>
        </nav>
        <h1 class="fw-bold">Neuro Rehabilitation</h1>
        <div class="row g-2">
            <!-- End Col -->
            <div class="col-xl-4">
                <p>We have successfully rehabilitated patients with GBS, stroke, CP, peripheral nurve injury,
                    stroke, brachial flexus injury and other neuro conditions.
                </p>
            </div>
            <div class="col-xl-5">
                <img src="{% static "imagesservices/neuro.jpg" %}" class="rounded" alt="Neuro Rehabilitation" style="width:100%;
                height:auto">
            </div>
            {% block sidebar %}
            {% include "sidebar.html" %}
            {% endblock sidebar %}
            </div>
        </div>
</section>
{% endblock %}
