{%extends 'base.html'%}
{% load static %}

{% block title %} Ortho Rehabilitation | {% endblock %}
{% block bodycontent %}
<section class="py-3 bg-info">
    <div class="container">
        <nav class="pt-lg-4 pb-3 mb-2 mb-sm-3" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/" style="text-decoration:none"><i class="bx bx-home-alt fs-lg me-1"></i>Physio Pulze
                        Physiotherapy</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/treatments-offered" style="text-decoration:none"><i
                            class="bx bx-home-alt fs-lg me-1"></i>Treatmentsoffered</a>
                </li>
                <li class="breadcrumb-item fw-bold active" aria-current="page">Ortho Rehabilitation</li>
            </ol>
        </nav>
        <h1 class="fw-bold">Ortho Rehabilitation</h1>
        <div class="row g-2">
            <div class="col-xl-5">
                <img src="{% static "imagesservices/ortho.jpg" %}" class="rounded" alt="Ortho Rehabilitation" style="width:100%;
                height:auto">
            </div>
            <!-- End Col -->
            <div class="col-xl-4">
                <p>We offer specialized rehabilitation for Osteo arthritis, Rhematoid arthritis, 
                    Post fracture management, total knee, hip replacement and post ligment 
                    repair and other orthopaedic & skeletal injuries. 
                </p>
            </div>
            {% block sidebar %}
            {% include "sidebar.html" %}
            {% endblock sidebar %}
        </div>
    </div>
</section>
{% endblock %}
