{%extends 'base.html'%}
{% load static %}

{% block title %} Sports Injury | {% endblock %}
{% block bodycontent %}
<section class="py-3 bg-info">
    <div class="container">
        <nav class="pt-lg-4 pb-3 mb-2 mb-sm-3" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/" style="text-decoration:none"><i class="bx bx-home-alt fs-lg me-1"></i>Physio Pulze
                        Physiotherapy</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/treatments-offered" style="text-decoration:none"><i
                            class="bx bx-home-alt fs-lg me-1"></i>Treatmentsoffered</a>
                </li>
                <li class="breadcrumb-item fw-bold active" aria-current="page">Sports Injury</li>
            </ol>
        </nav>
        <h1 class="fw-bold">Sports Injury</h1>
        <div class="row g-2">
            <!-- End Col -->
            <div class="col-xl-4">
                <p>There are two kinds of sports injuries: acute and chronic. An injury that occurs
                    suddenly, such as a sprained ankle caused by an awkward landing, is known as an
                    acute injury. Chronic injuries are caused by repeated overuse of muscle groups
                    or joints.
                    <br><br> Physiotherapy offers a comprehensive approach to sports injury 
                    rehabilitation, ensuring athletes recover fully and return to their sport 
                    stronger and more resilient. Sports physiotherapists utilize advanced techniques
                    to complement traditional treatment methods, providing holistic care to athletes.
                    Some of these techniques include: kinesiology taping, dry needling and 
                    myofascial release.
                </p>
            </div>
            <div class="col-xl-5">
                <img src="{% static "imagesservices/sportsinjury.jpg" %}" class="rounded" alt="Sports Injury">
            </div>
            {% block sidebar %}
            {% include "sidebar.html" %}
            {% endblock sidebar %}
            </div>
        </div>
</section>
{% endblock %}
