{%extends 'base.html'%}
{% load static %}

{% block title %} Strains & Sprains | {% endblock %}
{% block bodycontent %}
<section class="py-3 bg-info">
    <div class="container">
        <nav class="pt-lg-4 pb-3 mb-2 mb-sm-3" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/" style="text-decoration:none"><i class="bx bx-home-alt fs-lg me-1"></i>Physio Pulze
                        Physiotherapy</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/treatments-offered" style="text-decoration:none"><i
                            class="bx bx-home-alt fs-lg me-1"></i>Treatmentsoffered</a>
                </li>
                <li class="breadcrumb-item fw-bold active" aria-current="page">Strains & Sprains</li>
            </ol>
        </nav>
        <h1 class="fw-bold">Strains & Sprains</h1>
        <div class="row g-2">
            <div class="col-xl-5">
                <img src="{% static "imagesservices/strainssprains.jpg" %}" class="rounded" alt="Strains & Sprains" style="width:100%;
                height:auto">
            </div>
            <!-- End Col -->
            <div class="col-xl-4">
                <p>A sprain injures the bands of tissue that connect two bones together. Sprained ligaments include the knee, ankle, wrist
                   and thumb ligaments.
                   <br><br>A strain is an injury to muscles or tendons. strains commonly occur in the lower 
                   back and in the muscles at the back of the thigh (hamstrings). 
                   <br><br>Physiotherapy treatment for sprains and strains focus on individualized
                    exercises, manual therapies, and rehabilitation techniques. This personalized approach
                    addresses the specific nature of the injury, promoting optimal healing, reducing pain
                    and enhancing functional recovery. 
                </p>
            </div>
            {% block sidebar %}
            {% include "sidebar.html" %}
            {% endblock sidebar %}
        </div>
    </div>
</section>
{% endblock %}
