{%extends 'base.html'%}
{% load static %}

{% block bodycontent %}
<section class="py-3 bg-info">
    <div class="container">
        <nav class="pt-lg-4 pb-3 mb-2 mb-sm-3" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/" style="text-decoration:none"><i class="bx bx-home-alt fs-lg me-1"></i>Physio Pulze
                        Physiotherapy</a>
                </li>
                <li text-align: center class="breadcrumb-item active fw-bold" aria-current="page">About Us</li>
            </ol>
        </nav>
        <h2 class="fw-bold py-2">About Us</h2>
        <div class="row py-2">
            <div class="col-md-5">
                <ul>
                    <li>We offer advanced rehab solutions to musculoskeletal 
                        conditions by employing manual therapy, dry needling, 
                        Mckenzie system of treatment, tapping along with advanced 
                        electrotherapeutic modalities when needed.</li>
                    <li>We also provide range of services from physical therapy, 
                        rehabilitation, fitness and pain management.</li>
                    <li>We are specialized in providing neuro rehab ranging from 
                        peadiatric group to adults.</li>
                </ul>
            </div>
            <div class="col-md-5">
                <ul>
                    <li>We offer consultation and workstation evaluation and 
                            corporates and conduct ergonomic sessions
                            and group therapy since 2018.</li>
                </ul>
            </div>
            <div class="row py-4">
                <div class="col-xl-5 col-lg-5 pb-4 pb-sm-5 mb-2 mb-sm-0">
                    <script src="https://static.elfsight.com/platform/platform.js" async></script>
                    <div class="elfsight-app-b2212809-a74e-435b-9bbe-9f3b31e504ae" data-elfsight-app-lazy></div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
