<div class="container position-relative mt-3">
    <!-- Link widgets -->
    <div class="row g-4">
        <!-- Widget item -->
        <div class="mb-4 col-md-4">
            <!-- logo -->
            <h3 class="mb-3 mb-xl-4 text-white fw-bold">Physio Pulze - <br> A multispecality physio clinic</h3>
            <p class="mb-3 mb-xl-4">
                <ul class="list-group list-group-borderless">
                    <li class="d-flex mb-3 text-white">
                        <i class="me-4 fa-solid fa-phone fa-3 text-info" style="font-size:35px;"></i>
                        <a class="text-white fw-bold" style="text-decoration: none" href="tel:+919940206075">
                            Give us a Call
                            <br>+91 9940206075 </li> </a>
                </ul>
            </p>
        </div>
        <div class="mb-4 col-md-4">
            <h5 class="mb-3 mb-xl-4 text-white fw-bold">Locations</h5>
            <ul class="list-group list-group-borderless">
                <li class="d-flex mb-3 text-white">
                    <i class="me-4 fa-solid fa-location-dot fa-3 text-info" style="font-size:40px;"></i>
                    JK Complex, 52A, Anna Street, Sholinganallur, Chennai, Tamilnadu - 600119 </li>
                <li class="d-flex mb-3 text-white px-1">
                    <i class="me-4 fa-solid fa-clock text-info" style="font-size:25px;"></i>
                    <p class="mb-0">Mon-Sat 9:00am - 1:00pm, 4:30pm - 8:30pm. Sun 10:00am - 12:00pm</p>
                </li>
                <li class="d-flex mb-3 text-white">
                    <i class="me-4 fa-solid fa-location-dot fa-3 text-info" style="font-size:40px;"></i>
                    @ Perl Singapore Fertility Centre and Research Institute, Okkiyiampetai Thuraipakkam, Chennai, Tamil
                    Nadu 600097</li>
                <li class="d-flex mb-3 text-white px-1">
                    <i class="me-4 fa-solid fa-clock text-info" style="font-size:25px;"></i>
                    <p class="mb-0 px-1">Mon-Sat 2:30pm - 5:30pm</p>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5 class="mb-3 mb-xl-4 text-white fw-bold">Treatments Offered</h5>
            <div class="row">
                <div class="col-md-5">
                    <ul class="list-group list-group-borderless" style="list-style-type: none">
                        <li class="nav-item py-1"><a class="nav-link text-white"
                                href="/treatments-offered/back-pain">Back
                                Pain</a></li>
                        <li class="nav-item py-1"><a class="nav-link text-white"
                                href="/treatments-offered/joint-pain">Joint
                                Pain</a></li>
                        <li class="nav-item py-1"><a class="nav-link text-white"
                                href="/treatments-offered/neck-pain">Neck
                                Pain</a></li>
                        <li class="nav-item py-1"><a class="nav-link text-white"
                                href="/treatments-offered/head-aches">Headaches</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-borderless" style="list-style-type: none">
                        <li class="nav-item py-1"><a class="nav-link text-white"
                                href="/treatments-offered/strains-sprains">Strains & Sprains</a></li>
                        <li class="nav-item py-1"><a class="nav-link text-white"
                                href="/treatments-offered/sports-injury">Sports
                                Injury</a></li>
                        <li class="nav-item py-1"><a class="nav-link text-white"
                                href="/treatments-offered/ortho-rehabilitation">Ortho Rehabilitation</a></li>
                        <li class="nav-item py-1"><a class="nav-link text-white"
                                href="/treatments-offered/neuro-rehabilitation">Neuro Rehabilitation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Divider -->
    <hr class="mt-xl-3 mb-0 opacity-1">

    <!-- Bottom footer -->
    <div class="d-md-flex justify-content-between align-items-center text-center text-lg-start py-4">
        <!-- copyright text -->
        <div class="small mb-3 mb-md-0 text-white">Copyright 2025 Physio Pulze Physiotherapy</div>
    </div>
</div>
