{% block sidebar %}
<div class="col-xl-3">
        <div class=" container py-2 p-4" style="background-color:blue">
                <h5 class="text-white fw-bold">Treatments Offered</h5>
                <nav class="navbar">
                        <ul class="navbar-nav">
                                {% with url_name=request.resolver_match.url_name %}
                                <li class="nav-item"> <a
                                                class="nav-link fw-bold {% if url_name == 'backpain' %}active text-white{% endif %}"
                                                href="/treatments-offered/back-pain">Back pain</a>
                                </li>
                                <li class="nav-item"> <a
                                                class="nav-link fw-bold {% if url_name == 'jointpain' %}active text-white{% endif %}"
                                                href="/treatments-offered/joint-pain">Joint
                                                Pain</a>
                                </li>
                                <li class="nav-item"> <a
                                                class="nav-link fw-bold {% if url_name == 'neckpain' %}active text-white{% endif %}"
                                                href="/treatments-offered/neck-pain">Neck
                                                Pain</a>
                                </li>
                                <li class="nav-item"> <a
                                                class="nav-link fw-bold {% if url_name == 'headaches' %}active text-white{% endif %}"
                                                href="/treatments-offered/head-aches">Headaches</a>
                                </li>
                                <li class="nav-item"> <a
                                                class="nav-link fw-bold {% if url_name == 'strainssprains' %}active text-white{% endif %}"
                                                href="/treatments-offered/strains-sprains">Strains & Sprains</a>
                                </li>
                                <li class="nav-item"> <a
                                                class="nav-link fw-bold {% if url_name == 'sportsinjury' %}active text-white{% endif %}"
                                                href="/treatments-offered/sports-injury">Sports
                                                Injury</a>
                                </li>
                                <li class="nav-item"> <a
                                                class="nav-link fw-bold {% if url_name == 'orthorehabilitation' %} active text-white{% endif %}"
                                                href="/treatments-offered/ortho-rehabilitation">Ortho Rehabilitation</a>
                                </li>
                                <li class="nav-item"> <a
                                                class="nav-link fw-bold {% if url_name == 'neurorehabilitation' %} active text-white{% endif %}"
                                                href="/treatments-offered/neuro-rehabilitation">Neuro Rehabilitation</a>
                                </li>
                                {% endwith %}
                        </ul>
                </nav>
        </div>
</div>
{% endblock sidebar %}
